.iconStyle {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: flex-start;
}
.icon {
  font-size: 1.2rem;
  color: orange;
}

.customerReviews {
  margin: 0;
  padding-left: 0.5rem;
}
